.banner {
    background-image: url(../../img/photo_2023-06-03_19-02-29.jpg);
    width: cover;
    height: 85px;

    .img-container {
        .img-logo {
            width: 300px;
        }

        
    }

    .nombre-logo {
        width: 240px;
    }
}

.navbar-style {
    background-image: linear-gradient(to right, #9205f0, #8060E5, #7206D9, #6107CE, #5108C3);
}
.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fondo-estrellas {
    background-color: linear-gradient(to bottom, #9205f0, #8060E5, #7206D9, #6107CE, #5108C3);
  }
    

  