@media screen and (min-width: 500px) {
    .banner {
       
        height: 120px;
    
        .img-container {
            .img-logo {
                width: 450px;

            }
             
        }
    
        .nombre-logo {
            width: 350px;
        }
    }  
}

@media screen and (min-width: 575px){

    .banner {
       
        height: 125px;
    
        .img-container {
            .img-logo {
                width: 500px;

            }
             
        }
    
        .nombre-logo {
            
            width: 400px;
        }
    }  


}

@media screen and (min-width: 992px ){

    .banner {
       
        height: 145px;
        transition: transform 0.3s ease-in-out;
    
        .img-container {
            .img-logo {
                width: 600px;

            }
             
        }
    
        .nombre-logo {
            
            width: 600px;
        }
    }  


}


@media screen and (min-width: 1200px ){

    .banner {
       
        height: 180px;
        
        .img-container {
            .img-logo {
                width: 750px;

            }
             
        }
    
        .nombre-logo {
            
            width: 700px;
        }
    }  


}


@media screen and (min-width: 1720px ){

    .banner {
       
        height: 300px;
        
        .img-container {
            .img-logo {
                width: 1200px;

            }
             
        }
    
        .nombre-logo {
            
            width: 1200px;
        }
    }  


}

//Mover Logo a la esquina izquiera//