@media screen and (min-width: 500px) {
  .banner {
    height: 100px;
    .img-container {
      grid-template-columns: 2fr 4fr;
      .logo-contenedor {
        padding: 5px;
        grid-column: 1;
        width: 150px;
        .img-logo {
          width:400px;
         }
      }

      .nombre-container {
        grid-column: 2;
        margin-top: 25px;
        margin-right: 30px;
        .nombre-logo {
          width: 325px;
        }
      }
    }
  }

  @media screen and (min-width: 575px) {
      .banner {
      height: 100px;
      .img-container {
        grid-template-columns: 1fr 4fr;
        .logo-contenedor {
          padding: 10px;
          grid-column: 1;
          width: 100px;
          .img-logo {
            width:400px;
           }
        }
  
        .nombre-container {
          grid-column: 2;
          margin-top: 20px;
          margin-right: 30px;
          margin-bottom: 20px;
          margin-left:25px ;
          .nombre-logo {
            width: 435px;
          }
        }
      }  
    }
  }

  @media screen and (min-width: 992px) {
    .banner {
      height: 100px;
      .img-container {
        grid-template-columns: 1fr 4fr;
        .logo-contenedor {
          padding: 10px;
          grid-column: 1;
          width: 100px;
          .img-logo {
            width:400px;
           }
        }
  
        .nombre-container {
          grid-column: 2;
          margin-top: 20px;
          margin-right: 30px;
          margin-bottom: 20px;
          margin-left:25px ;
          .nombre-logo {
            width: 435px;
          }
        }
      }  
    }
  }

  @media screen and (min-width: 1200px) {
    .banner {
      height: 180px;

      .img-container {
        .img-logo {
          width: 750px;
        }
      }

      .nombre-logo {
        width: 700px;
      }
    }
  }

  @media screen and (min-width: 1720px) {
    .banner {
      height: 300px;

      .img-container {
        .img-logo {
          width: 750px;
        }
      }

      .nombre-logo {
        width: 700px;
      }
    }
  }
}